/* Basic Styling */
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    color: rgb(77, 78, 83);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15.36px;
    display: flex;
    line-height: 24px;
}
/* styles for navbar */
#navbar {
    width: 320px;
    background-color: white;
    position: fixed;
    scroll-behavior: smooth;
    height: 100vh;
    border-right: 4px solid #99A2A2;
    z-index: 10;
    box-sizing: border-box;
    overflow-y: auto; 
}

.nav-link{
    height: 24px;
}
#main-doc {
    margin-left: 340px;
    padding: 20px;
    width: calc(100% - 340px);
    height: 100vh;
}

.main-section {
    margin-bottom: 30px;
}

header {
    font-size: 28.8px;
    font-weight: 400;
    color: #333;
}

#navbar a, #navbar header {
    padding: 8px 30px;
    margin-bottom: 10px; 
    border-bottom: 1px solid #ccc; 
  }

#navbar a:last-child {
    border-bottom: none;
  }

  #navbar header {
    padding-top: 30px;
    border-bottom: 1px solid #ccc;
}

p, code {
    font-size: 1rem;
    line-height: 1.6;
}

code {
    background-color: #f5f5f5;
    border-radius: 3px;
    width: 905px;
    margin: 10px;
    padding: 15px;
    display: block;
    overflow-x: auto;
}

li {
    font-size: 1rem;
    margin: 15px 0px 0px 20px;
}

.nav-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    width: 100%;
}

.nav-link:hover {
    background-color: #ddd;
}

#Reference{
    padding-bottom: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    #navbar {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    #main-doc {
        margin-left: 0;
        width: 100%;
    }
}

